.cards{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: space-around;
}
@media (min-width: 576px){
 .cards{
 flex-direction: row;
 justify-content: space-around;}
}