.App {
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html body {
  background-image: url("./components/backgroud.png");
  background-repeat: no-repeat;
  background-size: cover;
  

    align-items: center;
    justify-content: center;

}
